<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <!-- more direct declarative rendering -->
      <!-- {{artist}} by {{songTitle}} -->

      <!-- computed object declarative rendering -->
      {{showSongAndArtist}}
    <q-input outlined v-model="artist" label="Artist" />
    <q-input outlined v-model="songTitle" label="Song Name" />
    <!-- edit 1st way -->
    <q-btn v-if="!edit" color="primary" label="Add Music" @click="addMusic()" />
    <q-btn v-else color="green" label="Update Music" @click="updateMusic()" />

    <!-- ternary operator syntax -->
    <!-- condition ? true result : false result -->
    <!-- <q-btn :color="!edit ? 'primary' : 'green'" :label="!edit ? 'Add Music' : 'Update Music'" @click="!edit ? addMusic() : updateMusic()" /> -->
    <q-list bordered separator>

      <q-item clickable v-ripple v-for="music in musicList" :key="music.id">
        <q-item-section>
          <q-item-label>{{music.songTitle}}</q-item-label>
          <q-item-label caption>{{music.artist}}</q-item-label>
        </q-item-section>
        <q-item-section right>
          <!-- edit -->
          <q-btn color="green" icon="edit" @click="editMusic(music, music.id)" />
          <!-- delete -->
          <q-btn color="red" icon="delete" @click="deleteMusic(music.id)" />
        </q-item-section>
      </q-item>

    </q-list>
  </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  // have a return value
  computed: {
    // void
    showSongAndArtist () {
      return this.songTitle + " by " + this.artist
    }
  },
  created () {
    this.$bind("musicList", this.$db.collection("musicList"))
  },
  // for void
  methods: {
    addMusic () {
      // use this kapag nasa loob ng script
      var obj = {
        artist: this.artist,
        songTitle: this.songTitle
      }
      // adding (static)
      // this.musicList.push(obj)
      this.$db.collection("musicList").add(obj)
      this.cancelEdit()
      // this.$router.push('/login')
    },
    deleteMusic (i) {
      // app4.todos.splice(<starting index> , <number of index delete>)
      // delete (static)
      // this.musicList.splice(i, 1)

      // delete (firestore)
      // Delete from musicList where id = i (from function parameter)
      console.log("document id: " ,i )
      this.$db.collection("musicList").doc(i).delete()
    },
    updateMusic () {
      var obj = {
        artist: this.artist,
        songTitle: this.songTitle
      }
      // native asignment
      // this.musicList[this.index] = obj

      // vue assignment variable (static)
      // Vue.set(variable, index number, value)
      // this.$set(this.musicList, this.index, obj)

      this.$db.collection("musicList").doc(this.index).update(obj)
      this.cancelEdit()
    },
    cancelEdit () {
      this.artist = ""
      this.songTitle = ""
      this.edit = false
      this.index = null
    },
    editMusic(d, i) {
      this.artist = d.artist
      this.songTitle = d.songTitle
      this.edit = true
      this.index = i
    }
  },
  data () {
    return {
      musicList: [],
      artist: "",
      songTitle: "",
      index: null,
      edit: false
    }
  }
}
</script>
