<template>
  <q-page padding>
    <!-- content -->
    login page
    <router-link to="/admin/dashboard">Go To admin</router-link>
    <q-btn label="Go To Admin" color="pink" @click="$router.push('/admin/dashboard')" />
    <q-btn label="Go To Reports" color="grey" @click="$router.push('/admin/report/' + reportNo)" />
    <!-- link in native web applications -->
    <!-- <a href="file.html">To file</a> -->
  </q-page>
</template>

<script>
export default {
  name: 'PageName',
  data () {
    return {
      reportNo: "REPORT-0001"
    }
  }
}
</script>
